
<script type="text/javascript" src="~/Scripts/CompanyListings/CompanyListingsFunctions.js"></script>
<!--
    This page will be used to search for and display Company names
-->
@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm("Search", "CompanyListings", FormMethod.Get,
    new { id = "searchForm", onsubmit = "return validateSearchEntry()" }))
{
    <h2>Search for companies by name</h2>

    <p>@ViewBag.Message</p>
    <br />

    @Html.TextBox("textCompanyName", "", new {required = "TRUE", pattern = "[a - zA - Z0 - 9]{2,15}", title = "Search entry must be 2-15 alphanumeric characters"})
    <input type="submit" name="searchButton" value="Search"/>
    <br /><br /><br />

}
@if (ViewBag.Companylist != null)
{
    if (ViewBag.Companylist.companyNames.Length == 0)
    {
        <p>Your search did not return any results. Please try again.</p>
    }
    else
    {
        <p style="font-size:larger">Results:</p> <br />
        foreach (string item in ViewBag.Companylist.companyNames)
        {
            @Html.ActionLink(item, "DisplayCompany/" + item, "CompanyListings")
            <br />
        }
    }
}
