<!--
    This is the html page that opens when a user navigates
    to the create an account page
-->

<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

@{
    ViewBag.Title = "CreateAccount";
}

<h2>@ViewBag.Title</h2>

<!-- The remainder of this file is to be completed by students in milestone 2 -->
<form method="POST" action="">
    @ViewBag.message
    <br />
    <br />
    Username:<br />
    <input type="text" name="username" />
    <br />
    <br />
    Password:<br />
    <input type="text" name="password" />
    <br />
    <br />
    <input type="submit" name="submitButton" value="Submit" />
    <br />
    <br />
</form>