<!--
    This is the html page that opens when a user navigates
    to the create an account page
-->

<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

@{
    ViewBag.Title = "Create Account";
}

<h2>@ViewBag.Title</h2>


<form method="POST" action="">
    @ViewBag.message
    <br />
    <br />
    <p>Username: </p><br />
    <input type="text" name="username" id="proposedUsername" />
    <br />
    <br />
    <p>Password: </p><br />
    <input type="text" name="password" id="proposedPassword" />
    <br />
    <br />
    <p>Address: </p><br />
    <input type="text" name="address" id="proposedAddress" />
    <br />
    <br />
    <p>Phone Number: </p><br />
    <input type="text" name="phonenumber" id="proposedPhoneNumber" />
    <br />
    <br />
    <p>Email: </p><br />
    <input type="text" name="email" id="proposedEmail" />
    <br />
    <br />
    <p>Type: </p>
    <input type="radio" name="typegroup" value="user" checked> proposedType<br>
    <input type="radio" name="typegroup" value="business"> proposedType<br>
    <input type="radio" name="typegroup" value="notspecified"> proposedType<br>
    <br />
    <input type="submit" name="submitButton" value="Submit" onclick="registerUser()"/>
    <br />
    <br />


</form>

