<!--
    This is the html page that opens when a user navigates
    to the create an account page
-->

<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

@{
    ViewBag.Title = "Create Account";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Submit", "Authentication", FormMethod.Get,
    new { id = "registerForm", onsubmit = "return registerUser()" }))
{
    @ViewBag.message
    <br />
    <br />
    <p>Choose a username: </p><br />
    @Html.TextBox("proposedUsername")
    <br />
    <br />
    <p>Choose a password: </p><br />
    @Html.TextBox("proposedPassword")
    <br />
    <br />
    <input type="submit" name="submitButton" value="Submit" onclick="registerUser()" />
    <br />
    <br />
}