<!--
    This is the html page that opens when a user navigates or is redirected
    to the log in page
-->

<script type="text/javascript" src="~/Scripts/Authentication/AuthenticationFunctions.js"></script>

@{
    ViewBag.Title = "Log In";
}

<!-- The remainder of this file is to be completed by students in milestone 2 -->

@using (Html.BeginForm("Submit", "Authentication", FormMethod.Get,
    new { id = "Form", onsubmit = "return validate()" }))
{
    <h2>@ViewBag.Title</h2>
    <form name="login">
        @ViewBag.message
        <br />
        <br />
        Username:<br />
        <input type="text" name="un" />
        <br />
        <br />
        Password:<br />
        <input type="text" name="pw" />
        <br />
        <br />
        <input type="submit" name="submitButton" value="Submit" />
        <br />
        <p>No account? <a href="CreateAccount">Click Here</a> <!-- Add account creation ink to href--></p>
        <br />
        @ViewBag.response
    </form>
}
